.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background-color: var(--black-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans";
}

@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-SemiBold.ttf);
  font-weight: 600;
}
:root {
  --purple-color:#A259FF;
  --white-color:#FFFFFF;
  --black-color:#2B2B2B;
  --gray-color:#3B3B3B;
  --creatorsmenu-color:#858584;
  --footer-color:#CCCCCC;
}

.site__header {
  padding: 34px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: var(--white-color);
}
.navbar__link:hover {
  color: var(--purple-color);
}

.header__btn-section {
  display: flex;
  align-items: center;
}

.header__btn {
  width: 152px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--purple-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.hamburger__menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 26px;
  border: none;
  display: none;
}

@media only screen and (max-width: 1080px) {
  .navbar__list {
    display: none;
  }
  .hamburger__menu {
    display: block;
  }
}
@media only screen and (max-width: 920px) {
  .header {
    display: flex;
    margin: 0 auto;
    width: 375px;
    height: 54px;
  }
}
.hero__section {
  padding: 80px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero__title {
  max-width: 459px;
  margin-bottom: 20px;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  color: var(--white-color);
}

.hero__text {
  max-width: 510px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.hero__btn {
  width: 224px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--purple-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.hero__card {
  background-color: var(--gray-color);
  border-radius: 20px;
}

.hero__img {
  overlay: none;
}

.card__title {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: var(--white-color);
}

.card__user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--white-color);
}

@media only screen and (max-width: 1080px) {
  .hero__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
  }
  .hero__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .hero__img {
    max-width: 330px;
    overlay: none;
  }
}
@media only screen and (max-width: 920px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero__btn {
    display: flex;
    margin: 0 auto;
    width: 315px;
  }
  .hero__title {
    max-width: 315px;
    font-size: 28px;
    line-height: 39px;
  }
  .hero__text {
    max-width: 315px;
    font-size: 16px;
    line-height: 22px;
  }
}
.creators__section {
  padding: 80px 0;
}

.creators__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creators__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.creators__text {
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.creators__btn {
  width: 247px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid var(--purple-color);
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.creators__menu-title {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: center;
  color: var(--white-color);
}

.creators__menu-img {
  display: flex;
  margin: 0 auto;
}

.creators__item {
  padding: 20px 0 0 0;
  border-radius: 20px;
  background-color: var(--gray-color);
}

.creators__list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
}

.creators__menu-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: var(--creatorsmenu-color);
}

@media only screen and (max-width: 1070px) {
  .creators__title {
    display: none;
  }
  .creators__text {
    display: none;
  }
  .creators__list {
    grid-template-columns: auto auto;
  }
  .creators__item {
    display: flex;
  }
  .creators__menu-title {
    text-align: start;
  }
  .creators__menu-img {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto;
  }
  .creators__btn {
    display: none;
  }
  .creators__content {
    width: 690px;
    height: 93px;
  }
}
@media only screen and (max-width: 920px) {
  .creators__list {
    grid-template-columns: 1fr !important;
  }
  .creators__text {
    max-width: 315px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .creators__menu-img {
    width: 60px;
    height: 60px;
  }
  .creators__item {
    display: flex;
    margin: 0 auto;
    width: 315px;
    height: 100px;
  }
  .creators__content {
    display: none;
  }
}
.browse__section {
  padding: 80px 0;
}

.browse__title {
  margin-bottom: 60px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.browse__list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
}

.browse__cate-img {
  display: flex;
  margin: 0 auto;
}

.browse__item {
  border-radius: 20px;
  background-color: var(--gray-color);
}

.browse__content-title {
  padding: 20px 30px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: var(--white-color);
}

@media only screen and (max-width: 1080px) {
  .browse__list {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 920px) {
  .browse__list {
    grid-template-columns: auto auto;
  }
  .browse {
    display: flex;
    margin: 0 auto;
  }
  .browse__title {
    display: none;
  }
}
.discover__section {
  padding: 80px 0;
}

.discover__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover__title {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.discover__btn {
  width: 187px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid var(--purple-color);
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.discover__text {
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.discover__list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.discover__item {
  margin: 0 auto;
  background-color: var(--gray-color);
  border-radius: 20px;
}

.discover__item-last {
  background-color: var(--gray-color);
  border-radius: 20px;
}

.disc__title {
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: var(--white-color);
}

.disc__content {
  display: flex;
  gap: 12px;
  padding: 20px;
}

.disc__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--white-color);
}

.disc__second-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--creatorsmenu-color);
  padding: 20px;
}

.disc__last-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--white-color);
}

@media only screen and (max-width: 1080px) {
  .discover__title {
    display: none;
  }
  .discover__text {
    display: none;
  }
  .discover__item-last {
    display: none;
  }
  .discover__content {
    width: 690px;
    height: 71px;
    display: flex;
    margin: 0 auto;
  }
  .discover__btn {
    display: none;
  }
}
@media only screen and (max-width: 930px) {
  .discover__list {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto;
  }
  .discover__btn {
    display: none;
  }
  .discover__title {
    display: flex;
    margin: 0 auto;
    font-size: 28px;
    line-height: 39px;
  }
  .discover__text {
    display: none;
  }
  .discover__content {
    display: flex;
    margin: 0 auto;
  }
}
.join__section {
  padding: 40px 0;
}

.join {
  background-color: var(--gray-color);
  border-radius: 20px;
}

.join__content {
  width: 1050px;
  height: 430px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join__content-wrapper {
  padding: 80px 0;
}

.join__title {
  max-width: 325px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.join__text {
  max-width: 425px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.join__label {
  width: 425px;
  height: 60px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  padding: 16px, 0px, 16px, 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--gray-color);
  outline: none;
}

.label {
  display: flex;
  position: relative;
}

.join__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 211px;
  height: 60px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: var(--white-color);
  background-color: var(--purple-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

@media only screen and (max-width: 1080px) {
  .join__section {
    width: 690px;
    height: 360px;
  }
}
@media only screen and (max-width: 920px) {
  .join__content {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
  }
  .join__section {
    display: none;
  }
}
.site__footer {
  padding: 40px 0;
  background-color: var(--gray-color);
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__icon-content {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 1080px) {
  .site__footer {
    display: none;
  }
}
.footer__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.footer__title-text {
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  color: var(--white-color);
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--footer-color);
}/*# sourceMappingURL=main.css.map */