*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans";
}

@font-face{
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-Medium.ttf);
  font-weight: 400;
}

@font-face{
  font-family: "Work Sans";
  src: url(../fonts/WorkSans-SemiBold.ttf);
  font-weight: 600;
}