.browse__section{
  padding: 80px 0;
}

.browse__title{
  margin-bottom: 60px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.browse__list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
}

.browse__cate-img{
  display: flex;
  margin: 0 auto;
}

.browse__item{
  border-radius: 20px;
  background-color: var(--gray-color);
}

.browse__content-title{
  padding: 20px 30px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: var(--white-color);
}

@media only screen and (max-width:1080px){
  .browse__list{
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width:920px){
  .browse__list{
    grid-template-columns: auto auto;
  }
  .browse{
    display: flex;
    margin: 0 auto;
  }

  .browse__title{
    display: none;
  }
}