.creators__section{
  padding: 80px 0;
}

.creators__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creators__title{
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.creators__text{
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.creators__btn{
  width: 247px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid var(--purple-color);
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.creators__menu-title{
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: center;
  color: var(--white-color);
}

.creators__menu-img{
  display: flex;
  margin: 0 auto;
}

.creators__item{
  padding: 20px 0 0 0;
  border-radius: 20px;
  background-color: var(--gray-color);
}

.creators__list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
}

.creators__menu-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: var(--creatorsmenu-color);
}

@media only screen and (max-width:1070px){
  .creators__title{
    display: none;
  }

  .creators__text{
    display: none;
  }

  .creators__list{
    grid-template-columns: auto auto;
  }

  .creators__item{
    display: flex;
  }
  
  .creators__menu-title{
    text-align: start;
  }
  .creators__menu-img {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto;
  }

  .creators__btn{
    display: none;
  }

  .creators__content{
    width: 690px;
    height: 93px;
  }
}

@media only screen and (max-width:920px){
  .creators__list{
    grid-template-columns: 1fr !important;
  }

  .creators__text{
    max-width: 315px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .creators__menu-img{
    width: 60px;
    height: 60px;
  }

  .creators__item{
    display: flex;
    margin: 0 auto;
    width: 315px;
    height: 100px;
  }

  .creators__content{
    display: none;
  }
}