.discover__section{
  padding: 80px 0;
}

.discover__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover__title{
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.discover__btn{
  width: 187px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid var(--purple-color);
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.discover__text{
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.discover__list{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.discover__item{
  margin: 0 auto;
  background-color: var(--gray-color);
  border-radius: 20px;
}

.discover__item-last{
  background-color: var(--gray-color);
  border-radius: 20px;
}

.disc__title{
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: var(--white-color);
}

.disc__content{
  display: flex;
  gap: 12px;
  padding: 20px;
}

.disc__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--white-color);
}

.disc__second-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--creatorsmenu-color);
  padding: 20px;
}

.disc__last-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--white-color);
}

@media only screen and (max-width: 1080px){
  .discover__title{
    // font-size: 28px;
    // line-height: 39px;
    display: none;
  }

  .discover__text{
    // font-size: 16px;
    // line-height: 22px;
    display: none;
  }

  .discover__item-last{
    display: none;
  }

  .discover__content{
    width: 690px;
    height: 71px;
    display: flex;
    margin: 0 auto;
  }

  .discover__btn{
    display: none;
  }
}

@media only screen and (max-width: 930px){
  .discover__list{
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto;
  }

  .discover__btn{
    display: none;
  }

  .discover__title{
    display: flex;
    margin: 0 auto;
    font-size: 28px;
    line-height: 39px;
  }

  .discover__text{
    display: none;
  }

  .discover__content{
    display: flex;
    margin: 0 auto;
  }
  
}