.hero__section{
  padding: 80px 0;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero__title{
  max-width: 459px;
  margin-bottom: 20px;
  font-size: 67px;
  font-weight: 600;
  line-height: 73.7px;
  color: var(--white-color);
}

.hero__text{
  max-width: 510px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.hero__btn{
  width: 224px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--purple-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

.hero__card{
  background-color: var(--gray-color);
  border-radius: 20px;
}

.hero__img{
  overlay: none;
}

.card__title{
  margin-bottom: 10px;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  color: var(--white-color);
}

.card__user{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.card__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--white-color);
}

@media only screen and (max-width: 1080px){
  .hero__title{
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
  }

  .hero__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .hero__img{
    max-width: 330px;
    overlay: none;
  }
}

@media only screen and (max-width:920px){
  .hero{
    flex-direction: column-reverse;
  }

  .hero__btn{
    display: flex;
    margin: 0 auto;
    width: 315px;
  }

  .hero__title{
    max-width: 315px;
    font-size: 28px;
    line-height: 39px;
  }

  .hero__text{
    max-width: 315px;
    font-size: 16px;
    line-height: 22px;
  }
}