.join__section{
  padding: 40px;
}

.join__content{
  width: 1050px;
  height: 430px;
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join__content-wrapper{
  padding: 80px;
}

.join__title{
  max-width: 325px;
  margin-bottom: 10px;
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: #FFFFFF;
}

.join__text{
  max-width: 425px;
  margin-bottom: 40px;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: #FFFFFF;
}

.join__label{
  width: 425px;
  height: 60px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  padding: 16px, 0px, 16px, 20px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #2B2B2B;
  outline: none;
}

.label{
  display: flex;
  position: relative;
}

.join__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 211px;
  height: 60px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  background-color: #A259FF;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}