.join__section{
  padding: 40px 0;
}

.join{
  background-color: var(--gray-color);
  border-radius: 20px;
}

.join__content{
  width: 1050px;
  height: 430px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join__content-wrapper{
  padding: 80px 0;
}

.join__title{
  max-width: 325px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  color: var(--white-color);
}

.join__text{
  max-width: 425px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  color: var(--white-color);
}

.join__label{
  width: 425px;
  height: 60px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  padding: 16px, 0px, 16px, 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--gray-color);
  outline: none;
}

.label{
  display: flex;
  position: relative;
}

.join__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 211px;
  height: 60px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: var(--white-color);
  background-color: var(--purple-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}

@media only screen and (max-width:1080px){
  .join__section{
    width: 690px;
    height: 360px;
  }
}

@media only screen and (max-width:920px){
  .join__content{
    flex-direction: column;
    display: flex;
    margin: 0 auto;
  }
  .join__section{
    display: none;
  }
}